@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,500;0,600;0,700;1,400;1,700&display=swap');

*{
  box-sizing: border-box;
  margin:0;
  padding:0;
  font-family:'Montserrat', sans-serif;
}

.header__wrapper {
  background-color:  rgba(13, 91, 180, 0.808);
  height: 100px;
  display: flex;
  align-items: center;
  padding: 0 250px;
  justify-content: space-between;
}
.header__logo{
  font-size: 32px;
  color: white;
}

.header__button{
  padding: 15px 20px;
  border-radius: 20px;
  background-color: rgb(10, 84, 180);
  font-size: 16px;
  border: none;
  color: white;
  transition: 0.3s all ease-in-out;
  text-decoration: none;
}

.header__button:hover{
  background-color: rgb(154, 115, 189);
}

.main__wrapper{
  padding-top: 70px;
  max-width: 900px;
  width: 100%;
  margin: 0px auto;
  margin-bottom: 70px;
}

.main__list{
  display: flex;
  list-style: none;
  gap: 35px;
  flex-wrap: wrap;
}

.main__item{
  width: 400px;
  border-radius: 10px;
  box-shadow: 5px 9px 19px -3px rgba(0,0,0,0.75);
  -webkit-box-shadow: 5px 9px 19px -3px rgba(0,0,0,0.75);
  -moz-box-shadow: 5px 9px 19px -3px rgba(0,0,0,0.75);
  padding: 15px 15px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.main__item-title{
  font-size: 24px;
  color: rgba(13, 91, 180, 0.808);
}

.main__item-decription{
  font-size: 18px;
  line-height: 24px;
}

.main__item-author{
  font-size: 16px;
}

.main__item-date{
  font-size: 16px;
}

.main__item-button{
  padding: 10px 15px;
  border-radius: 20px;
  border: none;
  background-color: rgba(13, 91, 180, 0.808);
  font-size: 18px;
  color: white;
  margin-top: auto;
  max-width: 200px;
  width: 100%;
  transition: 0.3s all ease-in-out;
  cursor: pointer;
  text-decoration: none;
  text-align: center;
}

.main__item-button:hover{
  background-color: rgba(5, 37, 73, 0.808);
}

.edit {
  max-width: 600px;
  margin: 0 auto;
  margin-top: 100px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
  background-color: #f9f9f9;
  color: rgba(13, 91, 180, 0.808);
}

.title {
  text-align: center;
  font-size: 32px;
}

.edit__label {
  font-weight: bold;
  margin-bottom: 5px;
}

.edit__input {
  width: 100%;
  padding: 8px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  outline: none;
}

.edit__textarea {
  width: 100%;
  padding: 8px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  height: 100px;
  resize: none;
  outline: none;
}

.edit__data{
  margin-bottom: 20px;
}

.edit__button {
  background-color: rgba(13, 91, 180, 0.808);
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  transition: 0.3s all ease-in-out;
  text-decoration: none;
  margin-right: 20px;
}

.edit__button:hover {
  background-color: #0056b3;
}

.add {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin-top: 100px;
}


.add__label {
  font-weight: bold;
  display: block;
  margin-bottom: 8px;
}

.add__input {
  width: 100%;
  padding: 8px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-bottom: 16px;
  outline: none;
}

.add__textarea{
  width: 100%;
  padding: 8px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-bottom: 16px;
  height: 100px;
  resize: none;
  outline: none;
}

.add__data{
  margin-bottom: 20px;
}

.add__button {
  padding: 10px 20px;
  font-size: 16px;
  background-color: rgba(13, 91, 180, 0.808);
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  text-decoration: none;
  transition: 0.3s all ease-in-out;
  cursor: pointer;
  margin-right: 20px;
}

.add__button:hover {
  background-color: #0056b3;
}

.edit__holder{
  background-color:  rgba(13, 91, 180, 0.808);
  height: 100vh;
  padding-top: 200px;
}

.edit__holder-wrapper {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  background-color: #f9f9f9;
  border-radius: 20px;
}

.edit__holder-title {
  font-size: 18px;
  margin-bottom: 10px;
}

.edit__holder-label {
  display: block;
  font-size: 16px;
  margin-bottom: 8px;
}

.edit__holder-input {
  width: 100%;
  padding: 8px;
  font-size: 14px;
  border: 1px solid #ccc;
  outline: none;
}

.edit__holder-button {
  display: inline-block;
  padding: 10px 20px;
  font-size: 14px;
  text-align: center;
  text-decoration: none;
  margin-right: 10px;
  margin-bottom: 10px;
  border: none;
  background-color: rgba(13, 91, 180, 0.808);
  color: #fff;
  cursor: pointer;
  text-decoration: none;
  transition: 0.3s all ease-in-out;
}

.edit__holder-button:hover {
  background-color: #0056b3;
}